################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GGJ2024/Temp/Burst/burst-aot20jquriu.vz9/lib_burst_generated_part_164a9957f2c75e5d4b481d1ceff90393.gbc
